@import "~antd/dist/antd.css";

@font-face {
  font-family: "FantasyStyled";
  src: url("./assets/fonts/breathefireiii-pklob-webfont.woff") format("woff"),
    url("./assets/fonts/breathefireiii-pklob-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "FantasyStyled2";
  src: url("./assets/fonts/draconis-jrw6b-webfont.woff") format("woff"),
    url("./assets/fonts/draconis-jrw6b-webfont.woff2") format("woff2");
}

:root {
  box-sizing: border-box;
}

body {
  background-image: url(./assets/backgrounds/2a.jpg);
}

.navbar__wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1vh 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(31, 31, 31, 0.3);
}

.page_title {
  font-family: FantasyStyled;
  font-size: 2.25em;
  font-weight: 100;
  color: white;
  user-select: none;
  flex-grow: 4;
}

.links__wrapper {
  margin-right: 2vw;
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar__link {
  font-family: FantasyStyled2;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  transition: 0.15s all ease-in;
}

.navbar__link:hover {
  transform: scale(1.1);
  color: #ffffffac;
}

.content__wrapper {
  padding: 1vh 2vw;
  margin-top: calc(80px + 5vh);
}

input {
  background: transparent;
  transition: 0.1s all ease;
}

input:focus {
  background: rgba(255, 255, 255, 0.2);
}
